@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Kanit', sans-serif;
  overflow-x: hidden;
}

* {
  font-family: inherit;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 9999px;
}
